<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nome</key>
		<string>Palio</string>
		<key>modelo</key>
		<string>ELX</string>
		<key>placa</key>
		<string>JJJ0002</string>
		<key>valor</key>
		<string>200</string>
		<key>dataInicio</key>
		<date>2014-07-18T17:32:38Z</date>
		<key>dataFim</key>
		<date>2014-07-18T17:32:40Z</date>
		<key>status</key>
		<string>Disponível</string>
	</dict>
	<dict>
		<key>nome</key>
		<string>Bravo</string>
		<key>modelo</key>
		<string>Turbo</string>
		<key>placa</key>
		<string>JJJ0003</string>
		<key>valor</key>
		<string>500</string>
		<key>dataInicio</key>
		<date>2014-05-13T18:20:58Z</date>
		<key>dataFim</key>
		<date>2014-06-13T20:20:42Z</date>
		<key>status</key>
		<string>Oficina</string>
	</dict>
	<dict>
		<key>nome</key>
		<string>Fusion</string>
		<key>modelo</key>
		<string>Turbo</string>
		<key>placa</key>
		<string>JJJ004</string>
		<key>valor</key>
		<string>1000</string>
		<key>dataInicio</key>
		<date>2014-07-01T18:21:52Z</date>
		<key>dataFim</key>
		<date>2014-07-16T20:22:49Z</date>
		<key>status</key>
		<string>Disponível</string>
	</dict>
	<dict>
		<key>nome</key>
		<string>Palio</string>
		<key>modelo</key>
		<string>Weekend</string>
		<key>placa</key>
		<string>JJJ0001</string>
		<key>valor</key>
		<string>100</string>
		<key>dataInicio</key>
		<date>2014-07-12T18:50:30Z</date>
		<key>dataFim</key>
		<date>2014-07-21T18:50:30Z</date>
		<key>status</key>
		<string>Alugado</string>
	</dict>
</array>
</plist>
